body {
  background-color: #30992e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='123' height='123' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23298227' fill-opacity='0.55'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.55'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  margin: 0;
  padding: 0;
  height: 100%;
  background-attachment: fixed;
}

.header {
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img {
  height: 260px;
}

.drop-down:hover,
.btn:hover,
.category:hover {
  background-color: #22e996;
  opacity: 0.6;
  transition: 0.3s;
  font-family: "Advent Pro", sans-serif;
  cursor: pointer;
}

.form-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 270px;
  background-color: white;
  width: 250px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(5, 52, 14);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  font-family: "Advent Pro", sans-serif;
}

.item {
  padding: 5px;
  color: #138656;
  font-weight: 900;
  font-family: "Advent Pro", sans-serif;
}

.drop-down {
  width: 100%;
  padding: 2px;
  background-color: #30992e;
  color: white;
  border-radius: 5px;
  border-bottom: 2px solid #212121;
  border-right: 2px solid #212121;
  border-top: 2px solid #767676;
  border-left: 2px solid #767676;
  text-align: center;
  font-family: "Advent Pro", sans-serif;
}

.btn {
  width: 100%;
  margin: 5px;
  background-color: #30992e;
  color: white;
  border-radius: 5px;
  font-family: "Advent Pro", sans-serif;
  padding: 2px;
}

.expense-container {
  height: 270px;
  width: 250px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgb(5, 52, 14);
  overflow-y: scroll;
}

.expense-container::-webkit-scrollbar-thumb {
  background-color: #30992e;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.expense-container::-webkit-scrollbar {
  width: 16px;
}

.list {
  color: darkgray;
  font-family: "Advent Pro", sans-serif;
  text-decoration: underline;
}

.purple {
  color: #662e99;
}

.totals {
  display: flex;
}

.remaining,
.spent {
  background-color: white;
  border-radius: 5px;
  font-family: "Advent Pro", sans-serif;
  padding: 5px;
  margin: 5px;
  font-weight: 900;
  border: 1px solid rgb(5, 52, 14);
}
.red {
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input {
  font-family: "Advent Pro", sans-serif;
  width: 95%;
}

label {
  color: #138656;
}

@media screen and (min-width: 768px) {
  .main {
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
  }

  .totals {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .box {
    margin: 20px;
  }
}
